<form [formGroup]="form">
  <div class="grid grid-cols-1 grid-rows-1 gap-5 m-5">
    <div>
      <div class="grid grid-cols-3 grid-rows-1 gap-5">
        <!-- Nombre -->
        <div>
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Nombre</label
          >
          <input
            type="text"
            id="name"
            formControlName="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
        </div>

        <!-- Dirección -->
        <div>
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Dirección</label
          >
          <input
            type="text"
            id="direccion"
            formControlName="direccion"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
        </div>

        <!-- Teléfono -->
        <div>
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Teléfono</label
          >
          <input
            type="text"
            id="telefono"
            formControlName="telefono"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
        </div>

        <!-- Tamaño Pizza -->
        <div class="row-start-2">
          <div class="relative p-6 border-2 border-dashed border-gray-300">
            <span
              class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white px-2 text-gray-600"
              >Tamaño Pizza</span
            >
            <div class="flex items-center mb-4">
              <input
                id="country-option-1"
                type="radio"
                formControlName="pizzaSize"
                value="Chica"
                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="country-option-1"
                class="block ms-2 text-sm font-medium text-gray-900 dark:text-black"
                >Chica $40</label
              >
            </div>
            <div class="flex items-center mb-4">
              <input
                id="country-option-2"
                type="radio"
                formControlName="pizzaSize"
                value="Mediana"
                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="country-option-2"
                class="block ms-2 text-sm font-medium text-gray-900 dark:text-black"
                >Mediana $80</label
              >
            </div>
            <div class="flex items-center mb-4">
              <input
                id="country-option-3"
                type="radio"
                formControlName="pizzaSize"
                value="Grande"
                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="country-option-3"
                class="block ms-2 text-sm font-medium text-gray-900 dark:text-black"
                >Grande $120</label
              >
            </div>
          </div>
        </div>

        <!-- Ingredientes -->
        <div formGroupName="ingredientes" class="row-start-2">
          <!-- Agregar formGroupName="ingredientes" aquí -->
          <div class="relative p-6 border-2 border-dashed border-gray-300">
            <span
              class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white px-2 text-gray-600"
              >Ingredientes</span
            >
            <div class="flex items-center mb-4">
              <input
                id="ingrediente-jamon"
                type="checkbox"
                formControlName="jamon"
              />
              <label
                for="ingrediente-jamon"
                class="ms-2 text-sm font-medium text-gray-900 dark:text-black"
              >
                Jamon $10
              </label>
            </div>
            <div class="flex items-center mb-4">
              <input
                id="ingrediente-pina"
                type="checkbox"
                formControlName="pina"
              />
              <label
                for="ingrediente-pina"
                class="ms-2 text-sm font-medium text-gray-900 dark:text-black"
              >
                Piña $10
              </label>
            </div>
            <div class="flex items-center mb-4">
              <input
                id="ingrediente-champinones"
                type="checkbox"
                formControlName="champinones"
              />
              <label
                for="ingrediente-champinones"
                class="ms-2 text-sm font-medium text-gray-900 dark:text-black"
              >
                Champiñones $10
              </label>
            </div>
          </div>
        </div>

        <!-- Número de Pizzas -->
        <div class="row-start-2">
          <div>
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Número de Pizzas</label
            >
            <input
              type="text"
              formControlName="cantidad"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-3/5 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required
            />
          </div>
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-800"
              >Fecha de Pedido</label
            >
            <input
              type="date"
              formControlName="fecha"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-3/5 p-2.5"
              required
            />
          </div>
          <button
            type="button"
            (click)="agregarPizza()"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 mt-5"
          >
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
